h3 {
    color: #005587;
}

.body .container {
    margin-bottom: 25px;
}
.body .container .right .right-buttons{

}

.left {
    float: left;
    width: auto;
}
.right {
    float: left;
    width: auto;
    margin-left: 15px;
}