.body .container {
    margin-bottom: 25px;
}
.body .container .right .right-buttons{

}
.left {
    float: left;
    width: auto;
    min-width: 35%;
}
.right {
    float: left;
    width: auto;
    margin-left: 15px;
}

.img-container {
    position: relative;
    overflow: hidden;
}

.img-container img {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: 100%;
}