.body .container {
    margin-bottom: 25px;
}
.body .container .right .right-buttons{

}
.left {
    float: left;
    width: auto;
    min-width: 35%;
}
.right {
    float: left;
    width: auto;
    margin-left: 15px;
}